* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: #121414;
}

.header {
    position: relative;
    padding: 50px 0;
    width: 1100px;
    
    margin: 0 auto;
    border: 1px solid red; 
    
}

.header span {
    color: #e1e1e6;
    font-size:30px;
    margin-right: 50px;
}

.header nav {
    display: inline;
}

.header nav a {
    color: #e1e1e6;
    font-size: 16px;
    margin-left: 32px;
}

.header button {
    padding: 15px 24px;
    position: absolute;
    right: 0;   

    font-size: 16px;
    color: #e1e1e6;

    background-color: #1f2729;
    border-radius: 100px;
}